[submodule "lib/p0-C00203711"]
	path = lib/p0-C00203711
	url = https://github.com/Pierce-James/p0-C00203711.git
[submodule "lib/p0-C00206417"]
	path = lib/p0-C00206417
	url = https://github.com/John-OMeara/p0-C00206417.git
[submodule "lib/P0-C00203756"]
	path = lib/P0-C00203756
	url = https://github.com/EricOT98/P0-C00203756.git
[submodule "lib/RealWorldSimY4"]
	path = lib/RealWorldSimY4
	url = https://github.com/AaronCur/RealWorldSimY4
[submodule "lib/Running_Total"]
	path = lib/Running_Total
	url = https://github.com/DJOLEARY/Running_Total.git
